Repository J2KB-5th/chippo, pull requests merged in 2021-11, with the labels that each got.

#2 feat : CRA를 통한 react 프로젝트 생성(frontend)
  .gitignore
  back-end/build.gradle
  front-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/public/favicon.ico
  front-end/public/index.html
  front-end/public/logo192.png
  front-end/public/logo512.png
  front-end/public/manifest.json
  front-end/public/robots.txt
  front-end/src/App.css
  front-end/src/App.js
  front-end/src/App.test.js
  front-end/src/index.css
  front-end/src/index.js
  front-end/src/logo.svg
  front-end/src/reportWebVitals.js
  front-end/src/setupTests.js
Labels: front-end

#6 <#4> feat: 전체 엔티티 설계
  back-end/src/main/java/com/j2kb5th/chippo/ChippoApplication.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/domain/Comment.java
  back-end/src/main/java/com/j2kb5th/chippo/global/domain/BaseTimeEntity.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/domain/Interview.java
  back-end/src/main/java/com/j2kb5th/chippo/like/domain/Like.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/domain/PreAnswer.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/domain/InterviewTag.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/domain/Tag.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/domain/TagType.java
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/Provider.java
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/Role.java
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/User.java
  back-end/src/main/resources/application.yml
Labels: back-end, feature

#17 <#16> feat : 스프링 프로파일 암호화
  .gitignore
  back-end/build.gradle
  back-end/src/main/java/com/j2kb5th/chippo/config/jasypt/JasyptConfig.java
  back-end/src/main/resources/application.yml
Labels: back-end, setting

#19 <#18> bugfix : Like 엔티티 클래스명 수정 #18
  back-end/src/main/java/com/j2kb5th/chippo/interview/domain/Interview.java
  back-end/src/main/java/com/j2kb5th/chippo/like/controller/dto/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/like/service/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/thumb/controller/dto/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/thumb/domain/Thumb.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/repository/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/thumb/service/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/User.java
  back-end/src/main/java/com/j2kb5th/chippo/user/repository/.gitkeep
Labels: bug, back-end

#20 [Front] feat: 로그인 페이지 구현(임시- 배치만)
  front-end/src/app.jsx
  front-end/src/components/darkComponent.jsx
  front-end/src/components/header.jsx
  front-end/src/components/theme/common.style.js
  front-end/src/pages/login.jsx
Labels: question, front-end
