Repository J2KB-5th/chippo, pull requests merged in 2021-12, with the labels that each got.

#23 <#12> feat: tab바 구현
  front-end/public/img/company/coupang.png
  front-end/public/img/company/deliver.png
  front-end/public/img/company/kakao.png
  front-end/public/img/company/line.png
  front-end/public/img/company/naver.png
  front-end/public/img/stack/django.png
  front-end/public/img/stack/nodejs.png
  front-end/public/img/stack/reactjs.png
  front-end/public/img/stack/spring.png
  front-end/public/img/stack/vuejs.png
  front-end/src/app.jsx
  front-end/src/pages/home.jsx
  front-end/src/pages/interviewList.jsx
Labels: front-end, feature

#25 <#24> feat : 인터뷰 리스트 화면 배치
  front-end/src/app.jsx
  front-end/src/components/theme/common.style.js
  front-end/src/pages/cardNews.jsx
  front-end/src/pages/interviewList.jsx
Labels: front-end, feature

#21 <#15> feat : 구글 OAuth2 로그인 구현
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/CustomOAuth2UserService.java
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/SecurityConfig.java
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/dto/OAuthAttributes.java
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/dto/SessionUser.java
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/Role.java
  back-end/src/main/java/com/j2kb5th/chippo/user/repository/UserRepository.java
  back-end/src/main/resources/application-local.yml
  back-end/src/main/resources/application-oauth.yml
  back-end/src/main/resources/application-prod.yml
  back-end/src/main/resources/application.yml
Labels: back-end, feature

#27 <#26> feat: cardNews 주관식 페이지 레이아웃 구현
  front-end/src/app.jsx
  front-end/src/components/theme/common.style.js
  front-end/src/data.js
  front-end/src/pages/cardNews.jsx
  front-end/src/pages/cardNewsAnswer.jsx
  front-end/src/pages/interviewList.jsx
  front-end/src/pages/login.jsx
Labels: front-end, feature

#29 <#22> feat : 네이버 소셜 로그인 구현
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/dto/OAuthAttributes.java
  back-end/src/main/resources/application-oauth.yml
Labels: back-end, feature

#34 <#33> chore : 12월 1주차 회의 수정사항 반영
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/Role.java
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/User.java
Labels: back-end, feature

#35 <#8> feat: thumb controller & dto 설계
  back-end/src/main/java/com/j2kb5th/chippo/thumb/controller/ThumbController.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/controller/dto/response/CheckThumbResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/controller/dto/response/ThumbResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/repository/ThumbRepository.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/service/ThumbService.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/service/ThumbServiceImpl.java
Labels: back-end, feature

#38 <#28> cardNews 주관식 모범답안 레이아웃 페이지 구현
  front-end/src/components/theme/common.style.js
  front-end/src/data.js
  front-end/src/pages/cardNewsAnswer.jsx
Labels: front-end, feature

#40 <#32> feat: swagger3(api 문서 자동화툴) 추가
  back-end/build.gradle
  back-end/src/main/java/com/j2kb5th/chippo/admin/controller/AdminController.java
  back-end/src/main/java/com/j2kb5th/chippo/admin/controller/dto/request/AdminInterviewRequest.java
  back-end/src/main/java/com/j2kb5th/chippo/admin/controller/dto/request/AdminUserRequest.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/controller/CommentController.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/domain/Comment.java
  back-end/src/main/java/com/j2kb5th/chippo/config/swagger/SwaggerConfig.java
  back-end/src/main/java/com/j2kb5th/chippo/global/controller/DocumentController.java
  back-end/src/main/java/com/j2kb5th/chippo/global/domain/BaseTimeEntity.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/InterviewController.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/domain/Interview.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/controller/PreAnswerController.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/domain/PreAnswer.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/domain/InterviewTag.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/domain/Tag.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/controller/ThumbController.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/domain/Thumb.java
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/User.java
Labels: back-end, feature

#43 <#39> refactor : redux 셋팅 및 기본적인 셋팅 완료
  front-end/package-lock.json
  front-end/package.json
  front-end/src/data.js
  front-end/src/index.js
  front-end/src/pages/cardNews.jsx
  front-end/src/pages/home.jsx
  front-end/src/redux/comments/actions.js
  front-end/src/redux/comments/reducer.js
  front-end/src/redux/comments/types.js
  front-end/src/redux/homeTags/actions.js
  front-end/src/redux/homeTags/reducer.js
  front-end/src/redux/homeTags/types.js
  front-end/src/redux/indexAction.js
  front-end/src/redux/rootReducer.js
  front-end/src/redux/store.js
Labels: front-end, setting

#44 <#42> [Front] refactor : 색, 태그, 버튼 커스터마이징(style 설정)
  front-end/package.json
  front-end/src/app.jsx
  front-end/src/components/header.jsx
  front-end/src/components/styles/componentStyles/buttonStyle.js
  front-end/src/components/styles/componentStyles/globalStyle.js
  front-end/src/components/styles/theme.js
  front-end/src/index.js
  front-end/src/pages/home.jsx
Labels: front-end, setting

#46 <#45> refactor : 홈 화면 구성 redux & dummyData
  front-end/public/img/coupang.png
  front-end/public/img/deliver.png
  front-end/public/img/django.png
  front-end/public/img/kakao.png
  front-end/public/img/line.png
  front-end/public/img/naver.png
  front-end/public/img/nodejs.png
  front-end/public/img/reactjs.png
  front-end/public/img/spring.png
  front-end/public/img/vuejs.png
  front-end/src/components/styles/componentStyles/globalStyle.js
  front-end/src/components/theme/common.style.js
  front-end/src/data.js
  front-end/src/pages/home.jsx
Labels: front-end, feature

#41 <#13> feat : User 기능 구현
  back-end/src/main/java/com/j2kb5th/chippo/config/WebConfig.java
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/LoginUser.java
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/LoginUserArgumentResolver.java
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/dto/SessionUser.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/UserController.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/dto/request/UpdateUserRequest.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/dto/request/ValidateNicknameRequest.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/dto/response/UpdateUserResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/dto/response/UserDetailResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/dto/response/UserRoleResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/dto/response/ValidateNicknameResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/user/domain/User.java
  back-end/src/main/java/com/j2kb5th/chippo/user/repository/UserRepository.java
  back-end/src/main/java/com/j2kb5th/chippo/user/service/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/user/service/UserService.java
  back-end/src/main/java/com/j2kb5th/chippo/user/service/UserServiceImpl.java
Labels: back-end, feature

#54 feat: 태그 컨트롤러 및 태그별 목록 조회 api 설계 추가
  back-end/src/main/java/com/j2kb5th/chippo/tag/controller/TagController.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/controller/dto/response/TagListResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/controller/dto/response/TagResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/domain/Tag.java
Labels: back-end, feature

#53 <#32> feat: 유저 관련 swagger description 추가
  back-end/src/main/java/com/j2kb5th/chippo/comment/controller/CommentController.java
  back-end/src/main/java/com/j2kb5th/chippo/user/controller/UserController.java
Labels: back-end, feature

#55 <#48> 구글, 네이버 로그인 버튼 구현
  front-end/package-lock.json
  front-end/package.json
  front-end/public/img/naverLogo.png
  front-end/src/components/header.jsx
  front-end/src/components/styles/componentStyles/globalStyle.js
  front-end/src/components/styles/css.js
  front-end/src/components/theme/common.style.js
  front-end/src/pages/login.jsx
Labels: front-end, feature

#57 <#47> 인터뷰 리스트 수정 및 재작업
  front-end/src/app.jsx
  front-end/src/data.js
  front-end/src/pages/cardNews.jsx
  front-end/src/pages/cardNewsAnswer.jsx
  front-end/src/pages/home.jsx
  front-end/src/pages/interviewList.jsx
  front-end/src/redux/indexAction.js
  front-end/src/redux/interviewLists/actions.js
  front-end/src/redux/interviewLists/reducer.js
  front-end/src/redux/interviewLists/types.js
  front-end/src/redux/rootReducer.js
Labels: front-end, feature

#59 <#57> 사전답안 페이지 재작성 및 구현
  front-end/src/data.js
  front-end/src/pages/cardNews.jsx
  front-end/src/redux/indexAction.js
  front-end/src/redux/interviews/actions.js
  front-end/src/redux/interviews/reducer.js
  front-end/src/redux/interviews/types.js
  front-end/src/redux/rootReducer.js
Labels: front-end, feature

#61 <#58> 모범답안 페이지 재작성 및 구현
  front-end/src/pages/cardNews.jsx
  front-end/src/pages/cardNewsAnswer.jsx
Labels: front-end, feature

#63 <#56> feat : 사전답안 API 구현
  back-end/src/main/java/com/j2kb5th/chippo/config/auth/dto/SessionUser.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/controller/PreAnswerController.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/controller/dto/request/SavePreAnswerRequest.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/domain/PreAnswer.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/repository/PreAnswerRepository.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/service/PreAnswerService.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/service/PreAnswerServiceImpl.java
  back-end/src/main/java/com/j2kb5th/chippo/user/repository/UserRepository.java
Labels: back-end, feature

#67 <#62> 마이페이지 구현
  front-end/src/app.jsx
  front-end/src/components/header.jsx
  front-end/src/components/styles/css.js
  front-end/src/data.js
  front-end/src/pages/login.jsx
  front-end/src/pages/myPage.jsx
  front-end/src/redux/comments/actions.js
  front-end/src/redux/comments/reducer.js
  front-end/src/redux/comments/types.js
  front-end/src/redux/indexAction.js
  front-end/src/redux/login/actions.js
  front-end/src/redux/login/reducer.js
  front-end/src/redux/login/types.js
  front-end/src/redux/rootReducer.js
Labels: front-end, feature

#66 <#50> feat: Interview 조회 기능 구현 및 글로벌 예외처리
  .gitignore
  back-end/src/main/java/com/j2kb5th/chippo/admin/controller/dto/response/AdminCommentResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/admin/controller/dto/response/AdminThumbResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/admin/service/AdminServiceImpl.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/controller/dto/reponse/CommentResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/global/controller/dto/UserResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/global/exception/ErrorMessage.java
  back-end/src/main/java/com/j2kb5th/chippo/global/exception/ErrorResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/global/exception/GlobalException.java
  back-end/src/main/java/com/j2kb5th/chippo/global/exception/GlobalExceptionHandler.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/InterviewController.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewCommentResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewDetailResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewListResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewPreAnswerResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewTagDetailResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewThumbResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/service/.gitkeep
  back-end/src/main/java/com/j2kb5th/chippo/interview/service/InterviewService.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/service/InterviewServiceImpl.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/controller/dto/response/PreAnswerResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/repository/PreAnswerRepository.java
  back-end/src/main/java/com/j2kb5th/chippo/preanswer/service/PreAnswerServiceImpl.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/repository/InterviewTagRepository.java
  back-end/src/main/java/com/j2kb5th/chippo/tag/repository/TagRepository.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/controller/dto/response/ThumbResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/service/ThumbService.java
  back-end/src/main/java/com/j2kb5th/chippo/thumb/service/ThumbServiceImpl.java
Labels: back-end, feature

#70 <#65> 새 글 작성 페이지 구현
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app.jsx
  front-end/src/components/header.jsx
  front-end/src/components/styles/componentStyles/inputStyle.js
  front-end/src/components/styles/css.js
  front-end/src/components/styles/theme.js
  front-end/src/components/theme/common.style.js
  front-end/src/components/theme/custom.js
  front-end/src/index.js
  front-end/src/pages/login.jsx
  front-end/src/pages/myPage.jsx
  front-end/src/pages/writing.jsx
Labels: front-end, setting, feature

#76 <# 71> 내가 작성한 게시물 레이아웃 구현
  front-end/src/app.jsx
  front-end/src/pages/myPage.jsx
  front-end/src/pages/myWritePage.jsx
Labels: front-end, feature

#77 <#75> 내가 좋아요한 게시물 페이지 레이아웃 구현
  front-end/src/app.jsx
  front-end/src/pages/myLikePage.jsx
  front-end/src/pages/myPage.jsx
Labels: front-end, feature

#74 <#68> feat: 댓글(Comment) 조회 API 구현
  back-end/src/main/java/com/j2kb5th/chippo/comment/controller/CommentController.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/controller/dto/reponse/CommentListResponse.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/controller/dto/request/CommentRequest.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/repository/CommentRepository.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/service/CommentService.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/service/CommentServiceImpl.java
  back-end/src/main/java/com/j2kb5th/chippo/global/exception/ErrorMessage.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/controller/dto/response/InterviewDetailResponse.java
Labels: back-end, feature

#79 <#78> 탈퇴페이지 레이아웃 구현
  front-end/src/app.jsx
  front-end/src/pages/myPage.jsx
  front-end/src/pages/myWithdrawlPage.jsx
Labels: front-end, feature

#82 <#68> feat: 댓글(Comment) 조회/등록/삭제 API 구현
  back-end/src/main/java/com/j2kb5th/chippo/comment/controller/CommentController.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/service/CommentService.java
  back-end/src/main/java/com/j2kb5th/chippo/comment/service/CommentServiceImpl.java
  back-end/src/main/java/com/j2kb5th/chippo/interview/domain/Interview.java
Labels: back-end, feature

#86 <#85> 좋아요 버튼 추가 기능 구현
  front-end/public/img/logo.png
  front-end/src/pages/cardNewsAnswer.jsx
Labels: front-end, feature

#90 <#88> fix: 기술면접(interview) 메서드 복귀
  back-end/src/main/java/com/j2kb5th/chippo/interview/domain/Interview.java
Labels: bug, back-end

#91 <#80> 임의 데이터 작성
  front-end/src/components/header.jsx
  front-end/src/data.js
  front-end/src/pages/cardNews.jsx
  front-end/src/pages/cardNewsAnswer.jsx
  front-end/src/pages/interviewList.jsx
  front-end/src/pages/myLikePage.jsx
  front-end/src/pages/myRevisedPage.jsx
  front-end/src/pages/writing.jsx
  front-end/src/redux/interviews/actions.js
Labels: front-end, feature
